<configuration>
  <connectionStrings>
    <add name="RockContext" connectionString="Data Source=localhost; Initial Catalog=RockTestDB; Integrated Security=true; MultipleActiveResultSets=true" />
  </connectionStrings>
  <appSettings>
    <add key="PasswordKey" value="Fill this in!" />
    <add key="DataEncryptionKey" value="Fill this in!" />
  </appSettings>
</configuration>
